<!DOCTYPE html>
<html
  lang="en"
  style="
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  "
>
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <% preact.headEnd %>
  </head>

  <body style="margin: 0; color: #1a202c;">
    <% preact.bodyEnd %>
  </body>
</html>
